@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Lobster&display=swap');


:root{
    --variableLargeur:1920;
    --hauteurDiaporama:943;
    --hauteurQuiSommesNous:457.5;
    --hauteurPechesTypes:784;
    --hauteurCarte:1068;
    --hauteurActualites:896;
    --hauteurBlog:675;
    --hauteurSponsor:202;
    --hauteurFooter1:338.77;
    --hauteurFooter2:47.34;

    --hauteurDiapoPecheALaCarpe:471.93;
    --hauteurMainPecheALaCarpe1:2576.6;

    --valeurViewport:100vw;
    --premiereFontFamily:'Asap', sans-serif;
    --deuxiemeFontFamily:'Cinzel Decorative';
    --troisiemeFontFamily:'Asap Condensed', sans-serif;
    --quatriemeFontFamily:'Asap Condensed', sans-serif;
    --cinquiemeFontFamily:'Asap', sans-serif;
    --fontSiza20px:calc(20 * 100vw / 1920);
    --fontSize14px:calc(14 * var(--valeurViewport) / var(--variableLargeur));

    --fontSize50px:calc(50 * var(--valeurViewport) / var(--variableLargeur));
    --fontSize30px:calc(30 * var(--valeurViewport) / var(--variableLargeur));

    --PremiereCouleurTexte:#ffffff;
    --deuxiemeCouleurTexte:#4D4D4D;
    --troisiemeCouleurTexte:#938A56;
    --quatriemeCouleurTexte:#FD7E23;
    --backgroundColor1:#F8F5EF;
    --background-color2:#F0EDE9;
    --backgroundColor4:#222222;
    --backgroundColor3:#333B1F;
    --backgroundColor5:#000000;

    --backgroundColor6:#F8F5EF
   
 
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* overflow:hidden; */
}

/* body{
    width:1920px
} */

nav{
    /* height:100px; */
    height:calc(100 * var(--valeurViewport) / var(--variableLargeur)) ;
    width:100%;
    position:sticky;
    top:0;
    left:0;
    z-index:6;
    background-color: var(--PremiereCouleurTexte);

   
   
   
  
}

nav ul{
  
    display:flex;
    align-items:center;
    height:100%;
  
    
}

nav ul li{
    list-style-type: none;
}

nav ul li:nth-child(2){
    /* margin-left:calc(800 / var(--variableLargeur)  * 100%); */
    margin-left:auto;
  
   
}

nav ul li svg{
    width:calc(65 * 100vw / 1920);
    height:auto;
}



nav ul li:nth-child(7){
    
    margin-right:calc( 73 / var(--variableLargeur) * 100%) ;
    /* margin-right:calc(73 * 100vw / 1920); */
  
 }

nav ul li:not(li:nth-child(7)) {
    padding-right:calc(45 / var(--variableLargeur) * 100%) ;
}  


nav ul li a{
    /* font-size:calc(7px + 1vw); */
    font-size:var(--fontSiza20px);
    /* font-size:20px; */
    text-decoration:none;
    color:var(--deuxiemeCouleurTexte);
    text-transform:uppercase;
    line-height:100px;
    font-family:var(--premiereFontFamily);
    /* width:54.5833333333% */
    width:clamp(calc(1048 / var(--variableLargeur) * 100%));
    white-space : nowrap;
    position:relative;

}
nav ul li a:before{
    content:"";
    position:absolute;
    top:0 ;
    left:0%;
    width:0%;
    height:100%;
    border-bottom:2px solid var(--deuxiemeCouleurTexte);
    transition:width 0.5s;
  
  
    
}

nav ul li a:hover:before{
    left:0;
    width:100%;
    
}

ul {
    padding-left:calc(80 / var(--variableLargeur) * 100%);
} 


/*************************BANIERE ****************************************/

.containerHeaderImageLaPecheALaCarpe1{
    height: calc(var(--hauteurDiapoPecheALaCarpe) * var(--valeurViewport) / var(--variableLargeur));
    position:relative;
}

.containerHeaderImageLaPecheALaCarpe1 img{
    position:absolute;
    width:100%;
    height:100%;
}

.containerHeaderImageLaPecheALaCarpe1 h1{
    position:absolute;
    display:flex;
    justify-content:center;
    top:calc(138.93 / var(--hauteurDiapoPecheALaCarpe) * 100%);
    width:100%;
    height:calc(158 * var(--valeurViewport) / var(--variableLargeur));
    /* left:calc(357 * var(--valeurViewport) / var(var(--variableLargeur))) */
    color:var(--PremiereCouleurTexte);
    font-family:var(--deuxiemeFontFamily);
    font-size:calc(117 * var(--valeurViewport) / var(--variableLargeur));
    font-weight:normal;
}

.containerHeaderImageLaPecheALaCarpe1 p{
  
    position:absolute;
    top:calc(331.93 / var(--hauteurDiapoPecheALaCarpe) * 100%);
    width:calc(240 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(23 * var(--valeurViewport) / var(--variableLargeur));
    width:100%;
    display:flex;
    justify-content:center;
    color:var(--PremiereCouleurTexte);
    font-family:var(--premiereFontFamily);
    font-weight:normal;
    font-size:var(--fontSiza20px);
   
}

.containerHeaderImageLaPecheALaCarpe1 p span{
    font-weight:bold;
}

/* ---------------------------------------MAIN --------------------------*/

.containerMainPecheALaCarpe1{
    height: calc(var(--hauteurMainPecheALaCarpe1) * var(--valeurViewport) / var(--variableLargeur));
    position:relative;
}

.containerMainPecheALaCarpe1 .coteGaucheLaPecheALaCarpe1 h2{
    position:absolute;
    top:calc(85 / var(--hauteurMainPecheALaCarpe1) * 100%);
    width:calc(454 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(81 * var(--valeurViewport) / var(--variableLargeur));
    left:calc(103 * var(--valeurViewport) / var(--variableLargeur));
    color:var(--deuxiemeCouleurTexte);
    font-family:var(--deuxiemeFontFamily);
    font-weight:normal;
    font-size:calc(60 * var(--valeurViewport) / var(--variableLargeur));
}




.etangLaPecheALaCarpe1 .imageEtangLaPecheALaCarpe1 img{
    position:absolute;
    top:calc(218 / var(--hauteurMainPecheALaCarpe1) * 100%);
    width:calc(766 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(542 * var(--valeurViewport) / var(--variableLargeur));
    left:calc(624 * var(--valeurViewport) / var(--variableLargeur));
    background: transparent radial-gradient(closest-side at 50% 50%, #EAEAEA 0%, #4D4D4D 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
}

.etangLaPecheALaCarpe1 .imageEtangLaPecheALaCarpe1 .imageEtangLaPecheALaCarpe1H3{
    position:absolute;
    top:calc(245 /  var(--hauteurMainPecheALaCarpe1) * 100%);
    left:calc(103 * var(--valeurViewport) / var(--variableLargeur));
    width:calc(559 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(106 * var(--valeurViewport) / var(--variableLargeur));
    font-family:var(--deuxiemeFontFamily);
    box-shadow: 0px 0px 30px #00000029;
    background-color: var( --backgroundColor6);
    
    z-index:2;

    
}

.etangLaPecheALaCarpe1 .imageEtangLaPecheALaCarpe1 .imageEtangLaPecheALaCarpe1H3 h3{
    position:absolute;
    margin-top:calc(23 * var(--valeurViewport) / var(--variableLargeur));
    margin-left:calc(39 * var(--valeurViewport) / var(--variableLargeur));
    font-weight:normal;
    color:var(--troisiemeCouleurTexte);
    font-size: var(--fontSize50px) ;

}

.containerMainPecheALaCarpe1 .coteGaucheLaPecheALaCarpe1 .etangLaPecheALaCarpe1 .paragrapheEtangPecheALaCarpe1{
    position:absolute;
    top:calc(429 /  var(--hauteurMainPecheALaCarpe1) * 100%);
    left:calc(142 * var(--valeurViewport) / var(--variableLargeur));
    width:calc(410 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(301 * var(--valeurViewport) / var(--variableLargeur));
}

.containerMainPecheALaCarpe1 .coteGaucheLaPecheALaCarpe1 .etangLaPecheALaCarpe1 .paragrapheEtangPecheALaCarpe1 h4{
    color:var(--deuxiemeCouleurTexte);
    font-family:var(--premiereFontFamily);
    font-weight:bold;
    font-size:var(--fontSize30px);
    line-height:calc(30 * var(--valeurViewport) / var(--variableLargeur))
}

.etangLaPecheALaCarpe1 .paragrapheEtangPecheALaCarpe1 p{
    color:var(--troisiemeCouleurTexte);
    font-family:var(--premiereFontFamily);
    font-weight:normal;
    font-size:var(--fontSiza20px);
    line-height:calc(26 * var(--valeurViewport) / var(--variableLargeur));
    text-transform:uppercase;
    transform:translateY(50%);
 
}

.etangLaPecheALaCarpe1 .paragrapheEtangPecheALaCarpe1 p:nth-of-type(1){
   
    margin-top:calc(20 * var(--valeurViewport) / var(--variableLargeur));
   
}

.etangLaPecheALaCarpe1 .paragrapheEtangPecheALaCarpe1 p:nth-of-type(1) span:nth-child(1){
    color:var(--deuxiemeCouleurTexte);
  
    /* margin-top:calc(20 * var(--valeurViewport) / var(--variableLargeur)); */

}

.etangLaPecheALaCarpe1 .paragrapheEtangPecheALaCarpe1 p:nth-of-type(1) span:nth-child(2){
   
    /* font-size:calc(6 * var(--valeurViewport) / var(--variableLargeur)); */
    margin-top:calc(5 * var(--valeurViewport) / var(--variableLargeur));
    color:var(--deuxiemeCouleurTexte);
    text-transform:uppercase;
}

/* .etangLaPecheALaCarpe1 .paragrapheEtangPecheALaCarpe1 p:nth-of-type(2){


    color:var(--deuxiemeCouleurTexte);
 
} */